/*General styles*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 2cm;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00000033;
}
p{
    font-size: 15px;
    margin: 15px;
}

/*Product*/
.container{
    width: 400px;
    background-color: white;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px #0000001a;
    text-align: center;
    transition: transform 0.3s ease;
}
.container:hover{
    transform: scale(1.03);
}

#title{
    text-align: center; color: #333;
    margin-top: 40px;
}

#card{
    margin-top: 30px;
}
#price{
    color: #a56dff;
}
button{
    background-color: #a56dff;
    color: white;
    padding: 14px 25px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}
button:hover{
    cursor: pointer;
    background-color: #7926ff;
    transform: scale(1.02);
}
